
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  text-align: center;
}
.page p {
  margin-bottom: 0;
}
h1{
  margin: 2.5rem;
  text-align: center;
}

.card-container {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
} 

.text-area{
  margin: 0;
  padding: 10px;
  display: flex;
  min-width: 400px;
  max-width: 800px;
  height: auto;
}

.text {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  
}

.text a{
  padding: 6px;
}

.text a img{
  border-radius: 15px;
  transition: filter 300ms;
}

.text a img:hover{
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  filter: brightness(0.7);
}
.text > div {
  flex: 1;
}

.closing-statement {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto; 
  text-align: center;
  max-width: 800px;
}


.footer {
  display: flex;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  text-overflow: ellipsis;
  background-color: #000000; /* optional styling */
}

@media (max-width: 600px) {

   h1 {
    display: none;
  }
  
  .text {
    flex-direction: column;
    align-items: center; /* center items vertically */
  }

  .text a img {
    height: 60px;
    width: 60px
   
  }

  .text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    width: 100%;
    padding: 1rem;
  }
}

