
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

h1{
  margin: 2.5rem;
  text-align: center;
  max-width: 100%;
  overflow-wrap: break-word;
}

.card-container {
  flex: 1;
  display: flex;
  margin-top: 1rem;
} 

.text-area{
  margin: 0;
  max-width: 800px;
  height: auto;
}

.text {
  justify-content: space-around;
  padding-left: 40px;
  line-height: 1.2;
  gap: 1.5rem;
  
}
.text p {
line-height: 1.5;
}
.text a{
  padding: 6px;
}
.text a img{
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 3px 8px 10px black;
  transition: filter 300ms;
}

.text a img:hover{

  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 3px 8px 10px black;
  filter: brightness(0.7);
  filter: drop-shadow(0px 0px 1px white);
  
}
.text > div {
  flex: 1;
}

.closing-statement {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem auto;
  text-align: center;
  max-width: 800px;
}


.footer {
  display: flex;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  text-overflow: ellipsis;
  background-color: #051021; /* optional styling */
}

@media (max-width: 600px) {
     h1 {
    display: none;
  }
  .text {
    flex-direction: column;
    align-items: center;
  }

  .text a img {
    height: auto;
    width: 80%;
    max-width: 300px;
  }

  .text-area {
    min-width: auto;
    width: 100%;
    padding: 1rem;
  }
}
