
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  text-align: center;

}
.page p {
  margin-bottom: 0;
  text-shadow: 0px 2px 6px black;
}
h1{
  margin: 2.5rem;
  text-align: center;
  text-shadow:4px 4px 20px #000000;
}

.card-container {
  flex: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
} 

.text-area{
  margin: 0;
  padding: 10px;
  display: flex;
  min-width: 400px;
  max-width: 800px;
  /* border: 2px solid white; */
  /* border-radius: 8px; */
  height: auto;
}

.text {
  text-shadow: 3px 3px 10px black;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  
}

.text a{
  
  padding: 6px;
}

.text a img{
  height: 200px;
  border-radius: 15px;
  box-shadow: 3px 8px 10px black;
  transition: filter 300ms;
}

.text a img:hover{

  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 3px 8px 10px black;
  filter: brightness(0.7);
}
.text > div {
  flex: 1;
}

.closing-statement {
  text-shadow: 3px 3px 10px black;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center; /* if vertical centering needed */
  margin: 2rem auto; /* horizontally centers the element itself */
  text-align: center;
  max-width: 800px;
}


.footer {
  display: flex;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  text-shadow: 4px 4px 12px black;
  text-overflow: ellipsis;
  background-color: #051021; /* optional styling */
}

@media (max-width: 600px) {
   h1 {
    display: none;
    /* margin: 1.5rem 1rem; 
    font-size: 1.75rem;   */
  }

  .text {
    flex-direction: column;
    align-items: center; /* center items vertically */
  }

  .text a img {
    height: auto;
    width: 80%; /* make image responsive */
    max-width: 300px;
  }

  .text-area {
    min-width: auto;
    width: 100%;
    padding: 1rem;
  }
}


